USE [master]
GO
/****** Object:  Database [CSVDB]    Script Date: 8/2/2015 9:06:48 PM ******/
CREATE DATABASE [CSVDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSVDB', FILENAME = N'i:\SetupFilesSqlServer\MSSQL11.SQLEXPRESS\MSSQL\DATA\CSVDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSVDB_log', FILENAME = N'i:\SetupFilesSqlServer\MSSQL11.SQLEXPRESS\MSSQL\DATA\CSVDB_log.ldf' , SIZE = 8384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSVDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSVDB]
GO
/****** Object:  Table [dbo].[tblAddFile]    Script Date: 8/2/2015 9:06:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAddFile](
	[code] [varchar](max) NULL,
	[description] [varchar](max) NULL,
	[value] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDeductFile]    Script Date: 8/2/2015 9:06:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDeductFile](
	[code] [varchar](max) NULL,
	[description] [varchar](max) NULL,
	[value] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMainFile]    Script Date: 8/2/2015 9:06:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMainFile](
	[Code] [varchar](300) NULL,
	[Type] [varchar](100) NULL,
	[Year] [varchar](100) NULL,
	[Make] [varchar](100) NULL,
	[Model] [varchar](100) NULL,
	[Trim] [varchar](100) NULL,
	[Drive] [varchar](50) NULL,
	[Doors] [varchar](50) NULL,
	[Body] [varchar](50) NULL,
	[Wholesale] [decimal](12, 2) NULL,
	[Retail] [decimal](12, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
